body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
}
.docs-button {
  text-transform: uppercase;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.docs-app-background {
  background: #fafafa;
}


// .mat-sidenav-backdrop {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: block;
//   z-index: 2;
//   visibility: hidden;
// }

// .cdk-visually-hidden {
//   border: 0;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   text-transform: none;
//   width: 1px;
// }

.docs-component-viewer-sidenav-container {
  width: 100%;
}

.docs-component-viewer-sidenav-container .mat-sidenav-content {
  position: absolute;
  right: 0;
  left: 0
}

.docs-component-viewer-sidenav {
  padding-bottom: 72px;
  width: 240px;
  bottom: 0;
  overflow: auto;
  height: 100%
}

.docs-component-viewer-sidenav,
.docs-component-viewer-sidenav.mat-sidenav-opened {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24)
}

.docs-component-viewer-sidenav h3 {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px
}

.docs-component-viewer-sidenav h3 {
  background: rgba(0, 0, 0, .32);
  color: hsla(0, 0%, 100%, .87);
}

.docs-component-viewer-sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.docs-component-viewer-sidenav li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0
}

.docs-component-viewer-sidenav li {
  border-color: rgba(0, 0, 0, .06);
  color: rgba(0, 0, 0, .54);
}

.docs-component-viewer-sidenav li:last-child {
  border-color: transparent
}

.docs-component-viewer-sidenav li>a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative
}

.docs-component-viewer-sidenav li>a {
  color: rgba(0, 0, 0, .54);
}

.docs-component-viewer-sidenav li>a.docs-component-viewer-sidenav-item-selected {
  font-weight: 600
}

.docs-component-sidenav-content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.docs-component-sidenav-content router-outlet+* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
