.example-card {
  width: 25%;
}

.pad {
  padding: 20px 70px 50px;
}

.mat-card.card {
  display: inline-block;
  margin-right: 1%;
  margin-top: 1%;
}

.mat-toolbar .mat-toolbar-row {
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .mat-toolbar .mat-toolbar-row {
    height: auto;
  }
}
