<nav>
  <h3>Uploader</h3>
  <ul>
    <li>
      <a routerLinkActive="active"
         routerLink="/upload/signal">
        Signal File
      </a>
    </li>
    <li>
      <a routerLinkActive="active"
         routerLink="/upload/multi">
        Multi File
      </a>
    </li>
  </ul>
</nav>
<!-- <nav>
  <h3>Data table</h3>
  <ul>
    <li>
      <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/paginator">
            Paginator
          </a>
    </li>
  </ul>
</nav> -->
