$mainColor: rgb(129,154,169);
$bg: rgb(226,229,230);
$crimson: rgb(243,109,102);

html, body {
	border: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans';
	background-color: $bg;
	display: flex;
   align-items: center;
   justify-content: center;
}

*, *:before, *:after, button {
	margin: 0;
	padding: 0;
	box-sizing: content-box;

	&:focus {
		outline: 0;border: 0px
	}
}

.icon {
  	position: absolute;
  	width: 64px;
  	height: 64px;
  	display: block;
  	fill: lighten($bg,100%);
	top: -20px;
	opacity: 0;
	left: calc(50% - 32px);
	border: 0px;

	&.active {
		top: 0px;
		opacity: 1;
		transition: .3s ease-in-out;
		transition-delay: 2.8s;
		border: 0px;
	}
}

.btn {
	width: 150px;
	height: 60px;
	position: relative;
	background-color: transparent;
	border: 2px solid $mainColor;
	border-radius: 50px;
	font-family: 'Open Sans';
	color: $mainColor;
	font-weight: 400;
	font-size: 1.2em;
	cursor: pointer;
	overflow: hidden;
	outline: none;

	&.active {
		animation: upload 3s ease-in-out forwards;
	}
}

.rest {
	transform: scale(0);
  	clip: rect(0, 84px, 84px, 42px);
  	height: 84px;
  	width: 84px;
  	position: absolute;
  	left: calc(50% - 42px);
  	top: calc(50% - 42px);

	&.active {
		animation: animate 1.05s linear 2;
		animation-delay: .6s;

		&:after {
			animation: animate2 1.05s linear 2;
			animation-delay: .6s;
		}
	}

	&:after {
		transform: scale(0);
  		clip: rect(0, 84px, 84px, 42px);
  		content:'';
  		border-radius: 50%;
  		height: 84px;
  		width: 84px;
  		position: absolute;
	}
}



@keyframes upload {
	0%{
		width: 150px;
		height: 60px;
		color: $mainColor;
		background-color: transparent;
	}
	7% {
		width: 155px;
		height: 55px;
		font-size: 1.25em;
		color: #ffffff;
		background-color: $mainColor;
	}
	10% {
		width: 150px;
		height: 60px;
		font-size: 1.2em;
		color: transparent;
	}
	20% {
		width: 60px;
		height: 60px;
		font-size: 0em;
		background-color: transparent;
	}
	90% {
		width: 60px;
		height: 60px;
		color: transparent;
		font-size: 0em;
		background-color: transparent;
	}
	100%{
		width: 150px;
		height: 60px;
		color: transparent;
		font-size: 0em;
		background-color: $mainColor;
	}
}

@keyframes animate {
  	0% {
		transform: scale(1);
    	transform: rotate(0deg)
  	}
  	100% {
	  	transform: scale(1);
   	 	transform: rotate(220deg)
  	}
}

@keyframes animate2 {
  	0% {
    	box-shadow: inset $crimson 0 0 0 4px;
    	transform: rotate(-140deg);
  	}
  	100% {
    	box-shadow: inset $crimson 0 0 0 4px;
    	transform: rotate(140deg);
  	}
}

@keyframes done {
	0% {top: -20px};
	100% {top: 0px};
}
