<div class="block"
     (ngxf-drop)="uploadFileList($event)"
     drop-class="drop"
     accept="image/*,.svg"

     [ngxf-validate]="{ size: { min: 50000, max:1000000 } }">
  <label class="upload-button">
    <input type="file"
          (ngxf-select)="uploadFile($event)"
          [ngxf-validate]="{ size: { min: 50000, max:1000000 } }"
          accept="image/*,.svg,.ttt" >
    choice file.
  </label>

   <label class="upload-button">
    <input type="file" (ngxf-select)="uploadFileList($event)" multiple accept="image/*,.mp3">
    choic files
  </label>
</div>
