<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav class="docs-component-viewer-sidenav" #sidenav mode="side" opened="true">
    <!-- side menu -->
    <app-menu-list></app-menu-list>
  </md-sidenav>
  <!-- main view -->
  <router-outlet></router-outlet>
  <button md-mini-fab (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>
</md-sidenav-container>

    <!-- <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button> -->
