.loader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5001;
  background: rgba(0, 0, 0, 0.1);
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  width: 10em;
  height: 10em;
  background: white;
  border-radius: 1em;
}

.loading-text {
  color: #10184a;
  font-size: 19px;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.bubble-1,
.bubble-2,
.bubble-3,
.bubble-4 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  /*background-color: #4b9cdb;*/
  background-color: #3f51b5;
  ;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.bubble-3 {
  top: auto;
  bottom: 0;
  right: 0;
}

.bubble-4 {
  top: 0;
  bottom: auto;
  right: 0;
}

.load-9 .spinner {
  animation: loadingI 3s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2,
.load-9 .bubble-3,
.load-9 .bubble-4 {
  animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
  animation-delay: -1.0s;
}

.load-9 .bubble-3 {
  animation-delay: -2.0s;
}

.load-9 .bubble-4 {
  animation-delay: -3.0s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}
