<div class="block"
     (ngxf-drop)="uploadFileList($event)"
     drop-class="drop"
     accept="image/*"
     multiple
     (click)="multiple.click()">
  <h2>Drop File to this area</h2>
</div>
<button md-raised-button color="accent" (click)="startUpload()">Upload</button>

<md-card>
  <md-card-content>
    <h1>Total progress</h1>
    <md-progress-bar color="primary" mode="determinate" [value]="present"> </md-progress-bar>
  </md-card-content>
</md-card>

<div>
  <md-card class="example-card card" *ngFor="let file of files; let i = index">
    <md-card-header>
      <md-card-title>{{file?.name}}</md-card-title>
      <md-card-subtitle>{{file?.size}} Byte</md-card-subtitle>
    </md-card-header>

    <img *ngIf="previewUrl[i]" md-card-image [src]="previewUrl[i]">
  </md-card>
</div>

<input #multiple type="file" (ngxf-select)="uploadFileList($event)" accept="image/*" required multiple>
