.block {
  margin-top: 20px;
  height: 200px;
  border: 4px dashed #3f51b5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover {
  cursor: pointer;
}

.drop {
  background: #3f51b5;
  color: white;
}
