<h2 md-dialog-title class="align-center">
  <md-icon color="primary">{{classList[obj.data.type].icon}}</md-icon>
  <span *ngIf="obj.data.title">{{obj.data.title}}</span>
  <!-- use for center the title  -->
  <md-icon></md-icon>
</h2>

<md-dialog-content>{{obj.data.message}}</md-dialog-content>

<md-dialog-actions class="flex-end">
  <div>
    <button *ngIf="obj.type === 1" md-raised-button [md-dialog-close]="false">Cancel</button>
    <button md-raised-button color="primary" [md-dialog-close]="true">OK</button>
  </div>
</md-dialog-actions>
